<nav th:fragment="navbarFragment" class="navbar navbar-light bg-light fixed-right" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SBB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Categories</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li  class="nav-item">
                        <a class="nav-link" th:href="@{/}">홈</a>
                        <a class="nav-link" th:href="@{/question/list}">기술 블로그</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/user/login}">로그인</a>
                        <a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/user/signup}">회원가입</a>
                        <a sec:authorize="isAuthenticated()"class="nav-link" th:href="@{/user/logout}">로그아웃</a>
                    </li>
                </ul>
                <form class="d-flex m-3">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>
